require 'open-uri'
require 'nokogiri'



	
	<!-- doc = Nokogiri::HTML.parse(html, nil, charset)

	html = "<h1>Yahoo News</h1>"

	doc.css('#topicsfb > div.topicsindex > ul.emphasis > li > a').each { |a_tag|
		html << "<p><a href=#{a_tag.attr('href')}>#{a_tag.text}</span></a></p>"
	}

return html
end -->





	
		<% @news.each do |n| %>
			<h3>><%= n %></h3>

			  # tilte
			  <p><%= node.css('h3').inner_text %></p>

			  # 記事のサムネイル画像
			  <p><%=node.css('img').attribute('src').value %></p>

			  # 記事のサムネイル画像
			  <p><%=node.css('a').attribute('href').value %></p>
		  <% end %>

